<!DOCTYPE html>
<html lang="{{doc.locale}}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>April MacDonald</title>
    <meta property="og:title" content="April MacDonald">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{doc.url}}">
    <meta name="description" content="Resume and personal site of April MacDonald">
    <meta property="og:description" content="Resume and personal site of April MacDonald">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro" rel="stylesheet">
    <link href="{{ g.static('/dist/css/composite/main.min.css').url.path }}" rel="stylesheet">

  </head>
  <body>
    <div class="wrapper {% if doc.wrapper_modifier %}wrapper--{{doc.wrapper_modifier}}{% endif %}">
      {% block main %}
        {% if doc.partials %}
          {% for field in doc.partials %}
            {% if not field.partial %}
              {% continue %}
            {% endif %}

            {# Render the partial with the values in {{partial}}. #}
            {% set partial_filename = "partials/" + field.partial + ".html" %}
            {% with partial = field %}
              {% include partial_filename with context %}
            {% endwith %}
          {% endfor %}
        {% else %}
          {{doc.formatted|safe}}
        {% endif %}
      {% endblock %}
    </div>
  </body>
</html>
